{% extends '@App/layout.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block before_content %}
    {{ parent() }}

    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'homepage.jumbotron.title' | trans }}</h1>
            <div class="item">{{ 'homepage.jumbotron.description' | trans }}</div>
            <div class="item">
                <a href="{{ path('app.code.index') }}" class="btn btn-success">{{ 'menu.codes.all' | trans }}</a>
                <div class="btn-group add-codes">
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ 'menu.simple.add' | trans }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="add-random">
                            <a href="{{ path('app.code.add_random') }}">{{ 'menu.codes.add_random' | trans }}</a>
                        </li>
                        <li class="add">
                            <a href="{{ path('app.code.add') }}">{{ 'menu.codes.add' | trans }}</a>
                        </li>
                    </ul>
                </div>
                <a href="{{ path('app.code.delete') }}" class="btn btn-danger">{{ 'menu.codes.delete' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .jumbotron {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .jumbotron h1 {
            font-size: 45px;
            margin-top: 0;
        }

        .jumbotron .item {
            font-size: 21px;
            font-weight: 200;
            margin-bottom: 15px;
        }

        .jumbotron .item:last-of-type {
            margin-bottom: 0;
        }
    </style>
{% endblock %}
